@import url('http://fonts.cdnfonts.com/css/cascadia-code');

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 list-style: none;
 text-decoration: none;
 font-family: 'cascadia-code', sans-serif;
}

a{
  display: block;
  color: #ffffff;
}
.parent-wraper{
 display: flex;
 width: 100%;
 height:fit-content
}

.logo-flex{
 display: flex;
 align-items: center;
 justify-content: space-around;
 gap: 5px;
 
}

.side-bar-wraper{
 height: 100vh;
 position: fixed;
 width: 10%;
 box-shadow: 1px 1px 9px 5px rgba(0, 0, 0, 0.1);
 background-color: #fff;
}

.height-set{
 height: 90%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
 padding: 20px 0 20px 0
}

.items-wraper{
 display: flex;
 flex-direction: column;
 gap: 12px;
}



.items-border-bottom{
 display: flex;
 flex-direction: column;
 padding: 12px 0;
 gap: 12px;
 width: fit-content;
 border-bottom: 2px solid #000000;
}

.sidebar-footer{
 display: flex;
 width:100%;
 position: relative;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
}

.sidebar-footer>img{
 width: 150px;
 position: absolute;
 bottom: -120px;
 left: 0;
}


.a-full{
 display: flex;
 align-items: center;
 justify-content: center; 
}


/* main-section wraper */

.main-content-wraper{
 width: 90%;
 height:100vh;
 margin-left: auto;
 display: flex;
 flex-direction: column;
 gap: 30px;
}

.header{
 display: flex;
 align-items: center;
 padding:15px 15px 8px 15px;
 border-bottom: 2px solid #AAAAAA;
}

.header .tab{
 flex-grow: 1;
 display:flex;
 gap:30px;
}
.header-logo{
  display: none;
}
.header .tab>span{
 cursor: pointer;
}
.tab .active{
 font-weight: 600;
 position: relative;
}
.tab .active::after{
 content: "";
 width: 30px;
 right:50%;
 transform: translateX(50%);
 bottom: -70%;
 border: 2px solid blue;
 background-color: blue;
 position: absolute;
}

.header .toggle-btn{
 width:50px;
 height:20px;
 padding:10px;
 border-radius: 20px;
 border: 2px solid #000;
 position: relative;
}
.header .toggle-btn::before{
 content: "";
 width:15px;
 height:15px;
 border-radius: 100%;
 background-color: #000;
 position: absolute;
 left:3px;
 top:50%;
 transform: translateY(-50%);
}

.main-content{ 
  flex: 1;
 display: flex;
 flex-direction: column;
}

.main-content .hero{
 width: 100%;
 height:250px;
 background-color: #315AA9;
 background-image: url('../image for preview/list-wave.png');
 display: flex;
}
.main-content .hero .hero-heading{
 color:white;
 flex: 2;
 padding: 15px 25px;
 padding-top: 50px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}
.main-content .hero .hero-heading>h1{
 width:80%;
 position: relative;
 padding: 0 30px;
}
.main-content .hero .hero-heading>h1::before{
 content: url('../image for preview/3dimension.png');
 position: absolute;
 top:-15px;
 left:0
}

.main-content .hero .btn{
 background-color: #192D55;
 width: fit-content;
 padding:12px 25px;
 border-radius:10px;
 font-size:18px;
 color:white
}
.list-plus{
 display: flex;
 justify-content: center;
 align-items: center;
 flex: 1;
}
.content{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 flex: 1; 
}

.footer-query{
  display: flex;
  align-items: center;
  margin-top: 2rem;
  justify-content: space-between;
  padding: 10px 25px 30px 25px;
  background: #ffffff;
  box-shadow:  0px 4px 4px 5px rgba(0, 0, 0, 0.1);
  display: none;
 } 

 @media only screen and (max-width:600px){ 
 .side-bar-wraper{
  display: none;
}
.main-content-wraper {
  width: 100%;
  height: 100vh;
  gap: 30px;
}
.main-content .hero .hero-heading{
  padding-top: 20px;
}

.header-logo{
 visibility: visible;
 display: flex;
 justify-content: space-between;
 padding: 15px 30px 20px 30px; 
 align-items: center;
}
.header-logo .toggle-btn{
 width:50px;
 height:20px;
 padding:10px;
 border-radius: 20px;
 border: 2px solid #000;
 position: relative;
}
.header-logo .toggle-btn::before{
 content: "";
 width:15px;
 height:15px;
 border-radius: 100%;
 background-color: #000;
 position: absolute;
 left:3px;
 top:50%;
 transform: translateY(-50%);
}
.header .toggle-btn{
 display: none;
 width:50px;
 height:20px;
 padding:10px;
 border-radius: 20px;
 border: 2px solid #000;
 position: relative;
}
.header .tab{
 display:flex;
 justify-content: space-around;
}
.main-content .hero .hero-heading>h1{
 color: #ffffff;
 font-size: 14.5px;
 line-height: 20px;
 width: 120%;
 }
 /* position */
  
 .main-content .hero{
  width:100%;
  height: 140px;
  background-color: #315AA9;
 
}
.main-content .hero .hero-heading>h1::before{
 content: url('../image for preview/3dimension.png');
 position: absolute;
 top: -15;
 left:0;
}
.list-plus img{
 width: 50px;
}
.main-content .hero .btn{
 background-color: #192D55;
 padding: 5px 10px 5px 10px;
 border-radius:10px;
 font-size:18px;
 color:white;
}
 .footer-query{
  display: flex;
  align-items: center;
  margin-top: 2rem;
  justify-content: space-between;
  padding: 10px 25px 30px 25px;
  background: #ffffff;
  box-shadow:  0px 4px 4px 5px rgba(0, 0, 0, 0.1);
 }
}