* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'cascadia code', sans-serif;
}

p {
    font-family: 'open sans', sans-serif;
    color: rgb(53, 52, 52);
}

body {
    display: grid;
    grid-template-areas: 
    "nav header header"
    "nav main aside"
    "nav main aside";
    background-color: #FFFFFF;
}

nav {
    grid-area: nav;
    position: fixed;
    height: 100vh;
    box-shadow: 2px 0 10px rgb(218, 214, 214);
    text-align: center;
    padding-top: 2rem;
}

.curve3, .curve2, .curve1 {
    position: absolute;
    opacity: 0.3;
}

.curve3 {
    bottom: 5rem;
    left: 0;
}

.curve2 {
    bottom: 2rem;
    left: 0;
}

.curve1 {
    bottom:-2.2rem;
    left: 2rem;
}

.logo {
    width: 75%;
}

.nav-icons {
    margin: 5rem;
}

.nav-icons img{
    display: block;
    margin-top: 2rem;
    width: 80%;
}

.profile-pic {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #315AA9;
    margin: auto;
}

.profile-pic a {
    color: #FFFFFF;
    font-size: 35px;
}

/* h1, h2, h3 {
    font-family: 'Cascadia Code', sans-serif;
} */

.for-you {
    padding: 2rem 0 0 1rem
}

.for-you-hr {
    width: 95%;
    margin: auto;
    margin-top: 1rem;
}

h4 {
    color: #315AA9;
}

header {
    grid-area: header;
    background-color:#315AA9;
    color: #FFFFFF;
    margin-left: 12rem;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    text-align: center;
    font-size: 20px;
    position: relative;
    overflow: hidden;
}

header>img {
    position: absolute;
}

.wave {
    opacity: 0.1;
}

.one {
    width: 35rem;
    left: -60px;
    top: 15px;
}

.two {
    width: 50rem;
    top: 0;
    left: -65px;
}

.three {
    width: 35rem;
    top: 5px;
    right: 15px;
}

.ellipse {
    width: 2rem;
}

.first {
    bottom: 5px;
    right: 12rem;
}

.second {
    left: 3rem;
    top: 25px;
}

main {
    grid-area: main;
    margin-left: 12rem;
}

.all-posts {
    display: grid;
    grid-template-columns: repeat(3, minmax(13rem, 13rem));
    grid-gap: 2rem;
    padding: 1rem;
}

.all-posts img {
    width: 100%;
}

.post {
    display: grid;
}

.post-img-and-header {
    padding-bottom: 5px;
    position: relative;
}

.post-par {
    font-size: 13px;
}

.writer {
    margin-top: 1rem;
    display: flex;
}

.writer p {
    font-size: 10px;
}

.writer img{
    width: 20%;
    padding-right: 10px;
}

aside {
    grid-area: aside;
    padding-left: 0.5rem;
    border-left: 1px solid grey;
}

#search {
    width: 95%;
    min-width: 15rem;
    height: 7vh;
    border-radius: 15px;
    box-shadow: 2px 0 10px rgb(218, 214, 214);
    margin-top: 2rem;
    background: #FFFFFF url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
    padding: 0 2rem;
    border: none;
}

.discover, .latest-post-h3 {
    font-size: 17px;
    padding-top: 1rem;
}

.discover-hr, .latest-post-hr {
    margin: 0.5rem 1rem 1rem 0;
}

.see-all {
    text-decoration: underline;
    color: #315AA9;
    display: inline-block;
    margin: 2px 0;
    font-size: 15px;
}

.see-all:hover {
    color: rgb(53, 52, 52);
    text-decoration: none;
}

.categories {
    margin-right: 1rem;
}

.cat {
    position: relative;
}

.categories img{
    display: block;
    opacity: 0.5;
    width: 100%;
}

.latest-post > .post-text {
    display: flex;
    align-items: center;
}
.post-text {
    margin-bottom: 5px;
}

#latest-h5 a {
    color: rgb(53, 52, 52);
}

.latest-post img {
    margin-right: 10px;
}

.latest-post {
    width: 95%;
}

.tag {
    background-color: #315AA9;
    width: fit-content;
    padding: 3px 5px;
    font-size: 10px;
    border-radius: 8px;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.cat-tag {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 13px;
    font-weight: bold;
}

.tag p {
    color: #FFFFFF;
}