<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <p>email sent, pls follow the instruction in your email.</p>
      <p>Check spam message incase you can't find it in your inbox</p>
    </div>
  </body>
</html>
